<nav data-controller="navbar" class="mx-auto flex flex-wrap items-center justify-between p-2 shadow-lg">
  <div class="flex items-center">
    <button id="burger" type="button" class="lg:hidden md:hidden inline-flex items-center justify-center p-2 mr-2 rounded-full text-black hover:text-white hover:bg-black">
      <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true" data-controller="svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
    <h1 class="text-lg font-semibold whitespace-nowrap overflow-ellipsis overflow-hidden">FPW</h1>
  </div>
  <div class="hidden md:flex w-full md:w-auto text-right text-bold mt-5 md:mt-0 border-t-2 border-green-400 md:border-none" data-behavior="toggle">
    <a href="/" class="block md:inline-block px-3 py-3 border-b-2 border-green-400 md:border-none">Home</a>
    <a href="/qoute" class="block md:inline-block px-3 py-3 border-b-2 border-green-400 md:border-none">Qoute</a>
  </div>
</nav>
