<%= turbo_frame_tag "toast", src: "/toast", loading: "lazy" %>
<h2 class="font-bold font-serif text-3xl text-center text-green-400 py-4">Notes</h2>

<%= turbo_frame_tag "note_form", class: "w-full md:2/3 lg:w-1/2 mx-auto" do %>
  <%= render "notes/form", note: @note %>
<% end %>

<%= render NotesComponent.new notes: @notes %>