<%= turbo_frame_tag "toast", src: "/toast", loading: "lazy" %>
<h2 class="font-bold font-serif text-3xl text-center text-green-400 py-4">Notes</h2>
<%= turbo_frame_tag "notes", class: "flex mx-auto gap-x-3 w-full md:w-2/3 lg:w-2/3" do %>
  <% if @notes.size == 0 %>
    <div class="rounded-lg bg-indigo-300 w-full md:w-1/2 lg:w-1/2 mx-auto">
      <%= image_tag "no_data.jpg", decoding: "async", loading: "lazy" %>
    </div>
  <% else %>
    <% @notes.each do |note| %>
      <%= render note %>
    <% end %>
  <% end %>
<% end %>
