
<%= link_to 'Shuffle Qoute', shuffle_path, class: "rounded-full bg-red-400 text-white text-center px-3 py-2 w-48 ", data: { turbo_stream: true } %>


<div id="qoute-content" class="py-4 font-bold text-3xl"></div>
<span id="qoute-originator" class="py-2 text-gray-500"></span>